body {
  background-color: #F2E8C6;
}

.menu {
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start;
}
.menu > li {
  text-align: center;
  margin: 20px;
}
.foto-profil {
  padding-top:  15px;
}
.foto-profil > img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #A73121;
  padding: 6px;
}
.about > h1 {
  color: #A73121;
  font-size: 25px;
}
.garis1 {
  color: #DAD4B5;
  width: 50%;
  
}
.paragraf {
  padding-right: 120px;
  padding-left: 120px;
}
.paragraf > p {
  color: #A73121;
  font-size: 17px;
  text-align: center;
  padding: 15px;
}
.nama {
  padding-top: 40px;
}
.nama > li > h1 {
  font-size: 35px;
  color: #A73121;
}
.nama > li > h5 {
  font-size: 15px;
  color: #A73121;
  padding-top: 20px;
  padding-bottom: 5px;
}
.garis2 {
  color: #DAD4B5;
  width: 50%;
}
.galer {
  font-size: 30px;
  color: #A73121;
}
.sosmed > li:hover {
  transform: scale(1.06);
}
.sosmed > li {
  margin: 20px;
  background-color: #A73121;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.sosmed > li > i {
  font-size: 20px;
  color: white;
}
.garis {
  color: #DAD4B5;
  width: 50%;
}
.gallery img {
  width: 270px;
  height: 270px;
  object-fit: cover;
  cursor: pointer;
  margin: 10px;
}
.gallery img:hover {
  transform: scale(1.09);
}
.gallery {
  padding-left: 235px;
  padding-right: 235px;
  align-items: center;
  padding-bottom: 10px;
}
button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #A73121;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}
button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #952323;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}
button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}
button a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #DAD4B5;
  font-size: 10px;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0s ease-in-out;
}
button:hover a {
  color: #F2E8C6;
  animation: scaleUp 0s ease-in-out;
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
/* Lightbox styles */
.lightbox-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.lightbox-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.lightbox-image {
  max-width: 55%;
  max-height: 55%;
  margin-bottom: 20px;
}

.caption {
  color: #fff;
  font-size: 18px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
/* CSS untuk ponsel */
@media only screen and (max-width: 600px) {
  .nama > li > h1 {
    font-size: 23px;
    color: #A73121;
  }
  .nama > li > p {
    font-size: 10px;
  }
  .menu > li {
    margin: 10px;
  }
  .paragraf > p {
    font-size: 11px;
    flex: 1;
  }
  .paragraf {
    padding-right: 50px;
    padding-left: 50px;
  }
  .gallery img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    cursor: pointer;
  }
  .gallery img:hover {
    transform: scale(1.09);
  }
  .gallery {
    padding-left: 200px;
  padding-right: 200px;
  }

}

/* CSS untuk tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  
}

/* CSS untuk laptop */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  
}

/* CSS untuk komputer */
@media only screen and (min-width: 1441px) {
  
}

/* CSS tambahan dapat ditambahkan sesuai kebutuhan */
